{% if log_in %}
	{% extends "user_base.html" %}
{% else %}
	{% extends "base.html" %}
{% endif %}

{% block title %}
ConnectMe | Home
{% endblock %}

{% block content %}
<div class = "container">

{% if not log_in %}
	<div class="jumbotron">
	  <h1>Welcome to ConnectMe</h1>
	  <p>ConnectMe is a simple scalable blog built using webapp2 on GAE in Python. Scroll down to view some of the recent posts or signup to make a new post.</p>
	  <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a></p>
	</div>
{% endif %}

	<h2> Recent Posts </h2>
	<hr>
	{% if posts.count() != 0 %}
		{% for p in posts %}
		{{p.render_full() | safe}}
		<hr>
		{% endfor %}
	{% else %}
		<h3>No posts to show yet.</h3>
	{% endif %}
</div>
{% endblock %}

