{% extends "user_base.html" %}

{% block title %}
ConnectMe | My Posts
{% endblock %}

{% block content %}
<div class = "post container">
	<h2> All of your Posts </h2>
	<hr>
	{% if posts.count() != 0 %}
	<form method = "post" action = "/myposts">
		{% for p in posts %}
		{{p.render_full() | safe}}
		<div align = "right"><input type = "radio" name = "post" value = {{ p.key().id() }}></div>
		<hr>
		{% endfor %}
	<div align = "right"><input class = "btn btn-danger" type = "submit" value = "Delete"></div>
	</form>
	{% else %}
		<h3>You don't have any posts yet. Please make a new post.</h3>
	{% endif %}
	<p class = "text-danger">{{error_msg}}</p>
</div>

{% endblock %}